body{
    margin:0;
    padding:0;
    display:flex;
    flex-direction:row;
    color:white;
    font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    
}

/*Aside*/

aside{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    width:23vw;
    height:100vh;
    background-color:black;
    position:fixed;
    border-right:1px solid #323639;
}
.upper-sec{
    display:flex;
    flex-direction:column;
    width:23vw;
    background-color:black;
    border-right:1px solid #323639;
    align-items:flex-end;
}

.lower-sec{
    display:flex;
    flex-direction:column;
    width:23vw;
    background-color:black;
    align-items:flex-end;
}

.Logo{
    fill:white;
    width: 30px;
    padding:5px;
    cursor:pointer;
}

.Logo:hover{
    background-color:#323639;
    border-radius: 100%;
    padding:5px;
}

.aside-item{
    display:flex;
    padding:10px 5px 10px 5px;
    width:80%;
    height:30px;
    align-items:center;
    gap:20px;
}

.aside-item-content{
    display:flex;
    padding:0 10px 0 3px;
    width:fit-content;
    align-items:center;
    gap:20px;
}
.aside-Logo{
    display:flex;
    padding:10px 5px 10px 5px;
    width:80%;
    align-items:center;
    gap:20px;
}

.aside-item-content:hover{
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;
    background-color:#323639;
    cursor:pointer;
}

.Home{
    font-weight:700;
    font-size:20px;
}
.item-text{
    font-size: 20px;
    font-weight:400;
}
.icon{
    fill:white;
    width: 30px;
    padding:5px;
    cursor:pointer;
}
.promotion-tag{
    background-color:#1d9bf0;
    border-radius: 5px;
    font-size: 15px;
    padding: 2px 4px;
    font-weight:500;
}

.post{
    background-color:white;
    border-top-left-radius:30px;
    border-top-right-radius:30px;
    border-bottom-left-radius:30px;
    border-bottom-right-radius:30px;
    display:flex;
    padding:10px 5px 10px 5px;
    width:65%;
    margin-right:15%;
    height:30px;
    align-items:center;
    justify-content:center;
    cursor:pointer;
}
.post-text{
    color:black;
    font-size:18px;
    font-weight:650;
}

.profile{
    display:flex;
    padding:10px 5px 10px 5px;
    width:80%;
    margin:0 3px 15px 0;
    height:40px;
    align-items:center;
    justify-content:space-between;
    cursor:pointer;
}

.profile-sub{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    gap:10px;
}

.profile:hover{
    background-color:#323639;
    border-top-left-radius:30px;
    border-top-right-radius:30px;
    border-bottom-left-radius:30px;
    border-bottom-right-radius:30px;
}
.profile-icon{
    fill:white;
    width: 20px;
    padding:3px;
}
.profile-text{
    display:flex;
    flex-direction:column;
    gap:2px;
    margin:0;
    padding:0;
}
.profile_pic{
    width:40px;
    border-radius:100%;
}

.username{
    font-weight:600;
    display:flex;
    align-items:center;
    flex-direction:row;
    gap:2px;
}
.handle{
    color:#71767b;
}
/*Main*/

main{
    margin-left:23vw;
    width:50vw;
    height:fit-content;
    background-color:black;
    border-right: 1px solid #323639;
    border-left:solid 1px #323639;
    display:flex;
    flex-direction:column;
}

main-nav{
    position:sticky;
    top:0;
    display:flex;
    flex-direction:row;
    border-bottom:solid 1px #323639;
    height:50px;
    background-color:#000000d2;

}
.main-nav-item{
    display:flex;
    justify-content:center;
    align-items:center;
    cursor:pointer;
    height:50px;
    width:50%;
    color:#71767b;
}
.main-nav-item .p{
    padding:12px 0;
    color:white;
    font-weight:500;
    border-bottom:solid 3px #1d9bf0;
    border-radius:1px
}
.main-nav-item:hover{
    background-color:rgba(32, 32, 32, 0.527);
}

section{
    display:flex;
    flex-direction:column;
    justify-content:center;
}

.post-prompt{
    display:flex;
    flex-direction:column;
    border:solid 1px #323639;
    height:auto;
    padding:10px;
}

.post-prompt-text{
    font-size:20px;
    font-weight: 400;
    color:#71767b;
}

.post-prompt div{
    gap:15px;
    display:flex;
    align-items:center;
}

.post-prompt-icons-container{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding: 10px 10px 0 10px;
}

.post-prompt-icons{
    display:flex;
    flex-direction:row;
    gap:10px;
    margin-left: 50px;
}
.post-prompt-text-icon{
    width:17px;
    fill: rgb(29, 155, 240);
}

.post-prompt-text-nb{
    margin-left: 50px;
    width:90%;
    padding: 20px 0;
    color:rgb(29, 155, 240);
    font-size:15px;
    font-weight:600;
    border-bottom:solid 1px #323639;
    cursor:pointer;
}

.post-prompt-text-nb span{
    display:flex;
    align-items:center;
    gap:5px;
}

.post-prompt-text-nb span:hover{
    background-color:#038be623;
    border-top-left-radius:20px;
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;
    border-top-right-radius:20px;

}
.post-prompt-icon{
    width:21px;
    fill: rgb(29, 155, 240);
    cursor:pointer;
    padding:5px;
}

.post-prompt-icon:hover{
    background-color:#038be623;
    border-radius:100%;
}
.post2{
    background-color:white;
    border-top-left-radius:30px;
    border-top-right-radius:30px;
    border-bottom-left-radius:30px;
    border-bottom-right-radius:30px;
    display:flex;
    padding:10px 5px 10px 5px;
    width:60px;
    height:15px;
    align-items:center;
    justify-content:center;
}

.tweet{
    width:95%;
    height:fit-content;
    display:flex;
    flex-direction:row;
    padding:2.5%;
    padding-bottom:0;
    gap:0px;
    border:solid 1px #323639;
}
.tweet-verification-icon{
    fill:rgb(29, 155, 240);
    width:18px;
}

.tweet-header-text{
    display:flex;
    flex-direction:row;
}

.tweet-icons{
    width:20px;
    fill:#71767b;
    padding:5px;
}


.tweet-aside{
    width:7%;
}
.tweet-main{
    width:90%;
}
.tweet-header{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}
.tweet-header-icon:hover{
    fill:#1d9bf0;
    background-color:#038be623;
    border-radius:100%;
    }

.tweet-content img{
    width:80%;
    border-radius:20px;
}

.tweet-footer{
    padding:10px;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}

.footer-icons{
    font-size:15px;
    color:#71767b;
    display:flex;
    flex-direction:row;
    align-items:center;
}
.footer-icons-like{
    font-size:15px;
    color:#71767b;
    display:flex;
    flex-direction:row;
    align-items:center;
}
.footer-icons-retweet{
    font-size:15px;
    color:#71767b;
    display:flex;
    flex-direction:row;
    align-items:center;
}
.footer-icons-right{
    font-size:15px;
    color:#71767b;
    display:flex;
    flex-direction:row;
    align-items:center;
}

.tweet-icons-right{
    width:20px;
    fill:#71767b;
    padding:5px;
}

.tweet-icons-right:hover{
    fill:#1d9bf0;
    background-color:#038be623;
    border-radius:100%;
}

.footer-icons:hover{
    color:#1d9bf0;
    .tweet-icons{
    fill:#1d9bf0;
    background-color:#038be623;
    border-radius:100%;
    }
}
.footer-icons-like:hover{
    color:rgb(249 24 128);
    .like{
    fill:rgb(249 24 128);
    background-color:rgba(249, 24, 129, 0.295);
    border-radius:100%
    }
}
.footer-icons-retweet:hover{
    color:rgb(0, 186, 124);
    .retweet{
    fill:rgb(0, 186, 124);
    background-color:rgba(0, 186, 124, 0.281);
    border-radius:100%;
}
}

.tweet-footer{
    height:fit-content;
}
/*Main-aside*/

main-aside{
    display:flex;
    flex-direction:column;
    width:27vw;
    background-color:black;
    height:fit-content;
    border:solid 1px #323639;
}

main-aside-nav{
    
    position:sticky;
    top:0;
    right:0;
    display:flex;
    flex-direction:row;
    justify-content:center;
    height:50px;
    background-color:#000000d2;

}

.main-aside-section{
    display:flex;
    flex-direction:column;
    justify-content:center;
    height:fit-content;
    gap:20px;
    align-items:center;
}

.container{
    width:90%;
    height:240px;
    border:solid 1px #323639;
    border-radius:20px;
}
